*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background:#3F77AF;
}

.card-detail{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background: black;
    color: linear-gradient(75deg,#3F77AF,white);
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

input{
    display: block;
    width: 278px;
    height: 3rem;
    margin-top: 0.5rem;
    box-shadow: black;
}

textarea{
    width: 278px;
    height: 5rem;
    margin-top: 0.5rem;
}

.bg-blue{
    color: white;
}

.color-black{
    color: black;
}

button{
    background-color: black;
    color: #3381cf;
    border-radius: 2rem;
    border-color: #3381cf;
    font-weight: bold;
    margin: 0.8rem;
    padding: 0.5rem 1rem;
}

#card{
    display: flex;
    width: 88.9mm;
    height: 50.8mm;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

h1{
    margin: 1rem;
}

.card-container{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#detail{
    height: 50.8mm;
    background-color: white;
    color: black;
    width: 66.675mm;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0%;
    border-left: 1rem solid #3381cf;
    border-radius: 6rem 0rem 0rem 6rem;
    word-wrap: break-word;
    word-break: break-all;
}

#detail h1{
  color: #3381cf;
  font-size: medium;
}

#showpic{
    width: 22.225mm;
}

#showlink{
    padding-left: 1.5rem;
    font-size: x-small;
    margin-top: 3px;
}

#showbio{
    padding-left: 1.5rem;
    font-size: small;
}

#imageshow{
    width: 6rem;
    height: 6rem;
    border: 1rem solid #3381cf;
    border-radius: 4rem;
}
